{% block driven_set_configurator %}
{#        {% if todo %}#}
{#        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {#}
{#            type: "warning",#}
{#            content: "Bitte konfigurieren Sie die Schl채gerkonfiguration"#}
{#        } %}#}
{#        {% endif %}#}
    <div class="container">
{#        {{ dump(lineItem) }}#}
        {% if lineItem.type === "product" and lineItem.payload.customFields["driven_product_configurator_base_racquet_product"] === true %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: "warning",
            content: "Bitte konfigurieren Sie die Schl채gerkonfiguration"
        } %}
        <div class="row">
                <div class="col-md-12">
                    {#                    {{ dump(lineItem.extensions) }} #}
                    {#                    <form action="{{ path('frontend.driven.product-configurator.save-selection') }}" method="post"> #}
                    {#                        {{ sw_csrf('frontend.driven.product-configurator.save-selection') }} #}
                    <h3>Schl채ger-Montage: (im Gange)</h3>
                    <select class="custom-select custom-select-lg mb-1">
                        <option selected>Vorhand:</option>
                        {% for field in lineItem.extensions %}
                            <option value="{{ field.extensions["Equipment"].id }}">{{ field.extensions["Equipment"].name }}</option>
                        {% endfor %}
                    </select>
                    <select class="custom-select custom-select-lg mb-1">
                        <option selected>R체ckhand:</option>
                        {% for field in lineItem.extensions %}
                            <option value="{{ field.extensions["Equipment"].id }}">{{ field.extensions["Equipment"].name }}</option>
                        {% endfor %}
                    </select>
                    <select class="custom-select custom-select-lg mb-1">
                        <option selected>Versiegelung:</option>
                        {% for field in lineItem.extensions %}
                            <option value="{{ field.extensions["Equipment"].id }}">{{ field.extensions["Equipment"].name }}</option>
                        {% endfor %}
                    </select>
                    {#                    </form> #}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}