{% block driven_set_configurator %}
    {% set Equipments = lineItem.extensions["Equipments"] %}
    <div class="container">
    {% if lineItem.type === "dvsn-set-configurator" || lineItem.payload.customFields["driven_product_configurator_racquet_option"] === "racquet" %}
    <div class="mb-3 mt-3">
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: "warning",
            content: "Bitte konfigurieren Sie die Schlägerkonfiguration"
        } %}
    </div>
    <div class="row">
        <div class="offset-1 col-md-6">
            <h3>Schläger-Montage:</h3>
            <form id="driven-checkout-selection" data-driven-product-configurator="true" action="{{ path('frontend.driven.product-configurator.save-selection', { 'id': lineItem.id }) }}" method="post">
                {{ sw_csrf('frontend.driven.product-configurator.save-selection') }}
                <select name="forehead" class="custom-select custom-select-lg mb-1" onChange=selectChange(this.value)>
                    <option value="" >Vorhand:</option>
                    {% for i in 0..Equipments.length-1 %}
                        <option {% if Equipments.selection.foreheadSelection == Equipments.items[i].id %} selected {% endif %}
                                class="driven_racquet_variant_forehead"
                                value="{{ Equipments.items[i].id }}">{{ Equipments.items[i].label }}</option>
                    {% endfor %}
                </select>
                <select name="backhead" class="custom-select custom-select-lg mb-1" onChange=selectChange(this.value)>
                    <option value="">Rückhand:</option>
                    {% for i in 0..Equipments.length-1 %}
                        <option {% if Equipments.selection.backheadSelection == Equipments.items[i].id %} selected {% endif %}
                                class="driven_racquet_variant_backhead"
                                value="{{ Equipments.items[i].id }}">{{ Equipments.items[i].label }}</option>
                    {% endfor %}
                </select>
                <select name="sealing" class="custom-select custom-select-lg mb-1" onChange=selectChange(this.value)>
                    <option value="0" >Versiegelung:</option>
                    <option value="0">keine Versiegelung</option>
                    <option
{#                            {% if Equipments.selection.sealingSelection == Equipments.items[i].id %} selected {% endif %}#}
                            value="1">inkl. Versiegelung (zzgl. 5 EUR)</option>
                </select>
            </form>
        </div>
        {% endif %}
    </div>
    <script>
        function selectChange(el) {

            $('#driven-checkout-selection').submit();
            $.ajax
            ({
                url: '/driven/product-configurator/save-selection/',
                data: {"id": id, "selection" : el},
                type: 'post',
                success: function(result)
                {
                    console.log(result.data)
                }
            });
        }
    </script>
{% endblock %}