{% block driven_set_configurator_enabled %}
    {% set Equipments = lineItem.extensions["Equipments"] %}
    {% set kein_Belag = DC1B7FFCB8D64DD2AE574A21F34F6FC5 %}
    <div class="container">
    {% if lineItem.type === "dvsn-set-configurator" || lineItem.payload.customFields["driven_product_configurator_racquet_option"] === "racquet" %}
    {% if Equipments.selection.foreheadSelection == "" and Equipments.selection.backheadSelection == "" %}
        <div class="mb-3 mt-3">
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: "info",
                content: "Bitte konfigurieren Sie die Schlägerkonfiguration"
            } %}
        </div>
    {% endif %}
    {% if Equipments.sameSides == true %}
        <div class="mb-3 mt-3">
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: "warning",
                content: "Die Beläge müssen verschiedenfarbig sein.“  - eine der beiden Schlägerseiten muss schwarz sein."
            } %}
        </div>
    {% endif %}
    <div class="row">
        <div class="offset-2 col-md-9 mb-3 mt-3 border pb-3 pt-3 driven-configurator-wrapper">
            <h3 class="mb-3 text-center">Schläger-Montage</h3>
            <form id="driven-checkout-selection" data-driven-product-configurator="true"
                  action="{{ path('frontend.driven.product-configurator.save-selection', { 'id': lineItem.id }) }}"
                  method="post">
                {{ sw_csrf('frontend.driven.product-configurator.save-selection') }}
                <input type="hidden" id="driven-parent-id" name="driven-product-configurator--parent-id"
                       value="{{ lineItem.id }}"/>
                <div class="flex justify-around">
                    <label for="forehead">Vorhand:</label>
                    <select onchange="this.form.submit()" name="forehead"
                            class="driven-equipments custom-select custom-select-lg mb-1">
                        {% for i in 0..Equipments.front.length %}
                            {% set color = Equipments.front.foreheadEquipments[i].payload["options"][0].option %}
                            {% set size =  Equipments.front.foreheadEquipments[i].payload["options"][1].option %}
                            {% if  Equipments.front.foreheadEquipments[i].id != null %}
                                <option {% if Equipments.selection.foreheadSelection == Equipments.front.foreheadEquipments[i].id %}
                                    selected
                                {% endif %}
                                        class="driven_racquet_variant_forehead"
                                        value="{{ Equipments.front.foreheadEquipments[i].id }}">{{ Equipments.front.foreheadEquipments[i].label }} {{ color }} {{ size }}</option>
                            {% else %}
                                <option value="" class="d-none"></option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <label for="backhead">Rückhand:</label>
                <select onchange="this.form.submit()" name="backhead"
                        class="driven-equipments custom-select custom-select-lg mb-1">
                    {% for i in 0..Equipments.back.length %}
                        {% set color = Equipments.back.backheadEquipments[i].payload["options"][0].option %}
                        {% set size =  Equipments.back.backheadEquipments[i].payload["options"][1].option %}
                        {% if  Equipments.back.backheadEquipments[i].id != null %}
                            <option {% if Equipments.selection.backheadSelection == Equipments.back.backheadEquipments[i].id %}
                                selected
                            {% endif %}
                                    class="driven_racquet_variant_backhead"
                                    value="{{ Equipments.back.backheadEquipments[i].id }}">{{ Equipments.back.backheadEquipments[i].label }} {{ color }} {{ size }}</option>
                        {% else %}
                            <option value="" class="d-none"></option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="sealing">Versiegelung:</label>
                <select onchange="this.form.submit()" name="sealing" class="custom-select custom-select-lg mb-1">
                    <option value="0">keine Versiegelung</option>
                    {% if Equipments.sealing.length <= 1 %}
                        <option
                                {% if Equipments.selection.sealingSelection > 0 %} selected {% endif %}
                                value="1">inkl. Versiegelung (zzgl. 5 EUR)
                        </option>
                    {% else %}
                        {% for i in 1..Equipments.sealing.length %}
                            <option {% if Equipments.selection.sealing == i %}
                                selected
                            {% endif %}
                                    value="{{ i }}"> {{ i }} Schläger versiegeln (zzgl. {{ i * 5 }} EUR)
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </form>
        </div>
        {% endif %}
    </div>
    <script>
        // function selectChange(el) {
        //     $('#driven-configurator-button').click();
            // $.ajax
            // ({
            //     url: '/driven/product-configurator/save-selection/',
            //     data: {selection: el},
            //     type: 'post',
            //     success: function (result) {
            //     }
            // });
            // $('select[name=forehead]').on('change', function () {
            //     var self = this;
            //     $('select[name=backhead]').find('option').prop('disabled', function () {
            //         return this.value == self.value
            //     });
            // });
            //
            // $('select[name=backhead]').on('change', function () {
            //     var self = this;
            //     $('select[name=forehead]').find('option').prop('disabled', function () {
            //         return this.value == self.value
            //     });
            // });
        // }
    </script>
{% endblock %}